.trackPath {
    max-width: 100%;
    display: flex;
    padding: 1.5rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.trackPath>.path,
.trackPath>.path>.colorPath {
    position: relative;
    width: 100%;
    max-width: 25rem;
    height: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
}


.trackPath>.path>* {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ccc;

}

.trackPath>.path>*:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trackPath>.path>*:nth-child(3) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trackPath>.path>*:nth-child(4) {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.trackPath>.path>.colorPath {
    left: 0;
    transform: translateY(-50%);
    background-color: blue;
    border-radius: 0;
    width: 0%;
}

.trackPath>.path>.colorPath::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: blue;
    border-radius: 50%;
}

.trackPath>.path>.colorPath>.highlightPath {

    z-index: 3;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    animation: blink 2s ease infinite;
    border: 1px solid;
}

.trackPath>.path>.colorPath>.highlightPath:last-child {
    animation-delay: 1s;
}

@keyframes blink {
    0% {
        width: 1rem;
        height: 1rem;
        background-color: rgba(0, 0, 255, 0.521);
        border-color: rgba(0, 0, 255, 0.513);
    }

    100% {
        width: 2.5rem;
        height: 2.5rem;
        background-color: transparent;
        border-color: rgba(154, 154, 245, 0.154);
    }
}