.trackPath {
    max-width: 100%;
    display: flex;
    padding: 1.5rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.trackPath>.path,
.trackPath>.path>.colorPath {
    position: relative;
    width: 100%;
    max-width: 25rem;
    height: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
}


.trackPath>.path>* {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #ccc;

}

.trackPath>.path>*:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trackPath>.path>*:nth-child(3) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trackPath>.path>*:nth-child(4) {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.trackPath>.path>.colorPath {
    left: 0;
    transform: translateY(-50%);
    background-color: #87d7ff;
    border-radius: 0;
    width: 0%;
}

.trackPath>.path>.colorPath::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 0.7rem;
    height: 0.7rem;
    background-color: #34bbff;
    border-radius: 50%;
}

.trackPath>.path>.colorPath>.highlightPath {

    z-index: 3;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    transform: translateX(50%);
    position: absolute;
    right: 0;
    animation: blink 1.5s ease infinite;
    border: 1px solid;
}

.trackPath>.path>.colorPath>.highlightPath:last-child {
    animation-delay: 1s;
}

@keyframes blink {
    0% {
        width: 1rem;
        height: 1rem;
        background-color: #6cceff;
        border-color: #c5ecff91;
    }

    100% {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.154);
    }
}

.progressName {
    position: absolute;
    right: 0;
    transform: translate(50%, -120%);
    text-wrap: nowrap;
    border-radius: 3px;
    padding: 0.3rem;
    font-size: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #28a745;
    z-index: 99;
}

.triangle {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid green;
}