main {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    padding: 3rem;
    padding-top: 2rem;
    gap: 2rem;
}

main .cubeList {
    background-color: white;
    height: fit-content;
    position: relative;
}

main .cubeList .top {
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
    color: rgb(0, 0, 83);

}

main .cubeList .top .apiBasicBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cubeList .top .apiBasicBottom .sort {
    display: flex;
    align-items: center;
}

main .cubeList .top .apiBasicBottom .sort>p {
    text-transform: lowercase;
    padding-right: 1rem;
}

#productChoice {
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    border-radius: 5px;
    outline: none;
    appearance: none;
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

#productChoice:hover {
    cursor: pointer;
}

#productChoice option {
    border: none;
    padding: 10px;
    background-color: #fff;
    color: #333;
}

#productChoice option:checked {
    background-color: #e9ecef;
}

.cubeListEmpty {
    user-select: none;
    /* position: absolute; */
    padding: 2.8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    color: #ccc;
    font-weight: bold;
}

@media only screen and (max-width:430px) {
    main .cubeList .top .apiBasicBottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

main .cubeList .bottom {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    width: 100%;
}

main .cubeList .bottom .box {
    width: 100%;
}

@media only screen and (max-width:1076px) {
    main .cubeList .bottom {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width:893px) {
    main {
        grid-template-columns: 1fr;
    }

    main .cubeList .bottom {
        grid-template-columns: repeat(3, calc(100%/3));
    }
}

@media only screen and (max-width:750px) {
    main .cubeList .bottom {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width:531px) {
    main {
        padding: 1rem;
    }
}

@media only screen and (max-width:470px) {
    main .cubeList .bottom {
        grid-template-columns: auto;
    }

    main {
        padding: 3rem;
    }
}

@media only screen and (max-width:470px) {

    main {
        padding: 1rem;
    }
}

.loadingAnimation {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.854);
    z-index: 20;
}