.productDetails .details {
    /* min-height: 19rem; */
}


.faqRes {
    margin-top: 1.5rem;
    color: rgb(0, 0, 97);
}

.faqRes>div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

.faqRes>div p:first-child {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.postFaq {
    border-top: 1px solid #b1b1b1;
    padding-top: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.postFaq>* {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
}

.postFaq button,
.pageBtns button {
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}

.postFaq button img {
    width: 1.5rem;
    filter: invert(100%);
}

.postFaq button:hover {
    cursor: pointer;
    background-color: rgb(230, 61, 0);
}

.postFaq input[type="text"] {
    outline: none;
    color: rgb(0, 0, 97);
    border: 2px solid #ccc;
}

.pageBtns {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.pageBtns button {
    padding: 0.5rem;
    width: 3rem;
    height: 2rem;
    /* border-radius: 50%; */
    border-radius: 20px;
    border: none;
}

.pageBtns button:first-child img {
    transform: rotate(180deg);
}

.pageBtns img {
    filter: invert(100%);
    width: 1.5rem;
}

.faqEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: bold;
    padding-bottom: 1rem;
}

.faqEmpty>img {
    filter: grayscale(100%) brightness(100%) contrast(10%);
}