.parentLoad {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 500;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: animate 1.2s ease-in-out infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        height: 40px;
        width: 40px;
    }

    65% {
        height: 70px;
        width: 70px;
    }
}

.loading>span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    animation: rotate 1.2s linear both infinite;
}

@keyframes rotate {

    0%,
    30% {
        transform: rotate(0);
    }

    65% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

.loading>span:nth-child(1) {
    top: 0;
    left: 0;
    background: #1ac9ff;
}

.loading>span:nth-child(2) {
    top: 0;
    right: 0;
    background: #fcb603;
}

.loading>span:nth-child(3) {
    bottom: 0;
    left: 0;
    background: #af49b6;
}

.loading>span:nth-child(4) {
    bottom: 0;
    right: 0;
    background: #e03870;
}