.orderEmpty {
    background-color: white;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.orderEmpty .top {
    border-bottom: 1px solid #ccc;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 97);
}

.tempBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.orderEmpty .tempBottom a:hover {
    cursor: pointer;
    background-color: rgb(221, 59, 0);
}

.orderEmpty .tempBottom a {
    background-color: orangered;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.orderCube {
    padding: 0.5rem 0;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 97);
    border-bottom: 1px solid #ccc;
}

.orderCube:last-child {
    border: none;
}

@media only screen and (max-width:626px) {
    .userSection {
        padding: 2rem;
    }

    .orderCube {
        flex-direction: column;
        width: 100%;
        /* background-color: orange; */
        padding: 2rem;
        margin: 0;
        gap: 1rem;
    }

    .orderCube .orderCubeDetails {
        justify-content: flex-start;
        width: 100%;
    }
}

.orderCube .orderCubeImage {
    width: 10rem;
    display: flex;
    margin-right: 2rem;
}

.orderCube .orderCubeImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.orderCube .orderCubeDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.orderCube .orderCubeDetails a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.orderCube .orderCubeDetails p {
    font-size: 0.9rem;
}

.orderCube .orderCubeDetails p span {
    color: orangered;
    font-weight: bold;
}

.pathAndCube {
    margin: 0 1rem;
    display: flex;
    flex-direction: column-reverse;

    border-bottom: 1px solid #ccc;
}

.pathAndCube:last-child {
    border: none;
}