.productDetails {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas:
        'productImages productInfo'
        'productUserReview productInfo'
        'productReview productInfo'
    ;
    padding: 2rem 3rem;
    gap: 2rem;
    position: relative;
}

@media screen and (max-width:1001px) {
    .productDetails {
        grid-template-columns: 100%;
        grid-template-areas:
            'productImages'
            'productInfo'
            'productUserReview'
            'productReview'
        ;
    }
}


.productReview {
    grid-area: productReview;
}

.productDetails>div {
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(215, 215, 215);
    padding: 1.5rem 2rem;
    height: fit-content;
}

.productDetails .productImages {
    display: flex;
    flex-direction: column;
    grid-area: productImages;
}

.productDetails .productInfo {
    color: rgb(0, 0, 97);
    grid-area: productInfo;
    transition: all 0.3s ease;
}

.productDetails .productUserReview {
    grid-area: productUserReview;
}

.productDetails .productInfo .offers {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
}

.productDetails .productInfo .offers .new,
.productDetails .productInfo .offers .bestseller,
.productDetails .productInfo .offers .discount {
    background-color: rgb(0, 198, 0);
    width: fit-content;
    text-transform: uppercase;
    padding: 0.25rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    border-radius: 3px;
    color: white;
}

.productDetails .productInfo .offers .bestseller {
    background-color: orange;
}

.productDetails .productInfo .offers .discount {
    background-color: orangered;
}

.productDetails .productInfo .companyAndRatings {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.productDetails .productInfo .companyAndRatings span:first-child {
    color: orangered;
    font-size: 0.8rem;
}

.productDetails .productInfo .companyAndRatings span:last-child {
    display: flex;
    align-items: center;
}

.productDetails .productInfo .companyAndRatings span:last-child img {
    width: 1.2rem;
}

.productInfo .price {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 2rem 0;
}

.productInfo .price .value {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productInfo .price .value .top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productInfo .price .value .bottom {
    font-size: 0.7rem;
}

.productInfo .actualPrice {
    text-decoration: line-through;
}


.productInfo .finalPrice {
    color: orangered;
    font-size: 1.5rem;
}

.productInfo .stock {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.productInfo .stock .availStock::before {
    content: "";
    background-color: green;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.productInfo .stock .availStock {
    padding-left: 1rem;
    position: relative;
    color: green;
    font-weight: bold;
    font-size: 0.9rem;
}

.productInfo .stock .outStock::before {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.productInfo .stock .outStock {
    padding-left: 1rem;
    position: relative;
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
}

.imageMonitor {
    height: 25rem;
    max-width: 100%;
}

@keyframes appearMonitor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.productDetails .productImages .imageRemote {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto;
    background-color: #dedede;
    border-radius: 3px;
    padding: 0.5rem;
}

.remoteBox {
    min-width: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-color: white;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.remoteBox:hover {
    cursor: pointer;
}

.remoteBox:first-child {
    border-color: orange;
}

.remoteBox img,
.imageMonitor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buyButtons {
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-top: 2rem;
}

.buyButtons a {
    border-radius: 3px;
}

.buyButtons button:hover {
    cursor: pointer;
}

.buyButtons button {
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    color: white;
}

.buyButtons a {
    background-color: orangered;
}

.productInfo .information {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productInfo .information img {
    width: 2.5rem;
    filter: invert(30%);
}

.productInfo .information>div {
    color: rgb(109, 109, 109);
    font-weight: bold;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productDetails .productUserReview {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    width: 100%;
}

.productDetails .productUserReview span {
    text-transform: uppercase;
    border-bottom: 3px solid #ccc;
    color: gray;
    width: 100%;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}

.productDetails .productUserReview span {
    cursor: pointer;
    transition: all 0.3s ease;
}

.productDetails .productUserReview span:first-child {
    border-color: orangered;
    color: rgb(0, 0, 97);
}

.productDetails .details {
    margin-top: 1rem;
    /* font-size: 1.05rem; */
    overflow: auto;
}

pre {

    white-space: pre-wrap;
    /* Preserves formatting but allows wrapping */
    word-wrap: break-word;
    /* Breaks long words */
    overflow-wrap: break-word;
    /* Ensures compatibility */
    color: rgb(0, 0, 97);
}

table {
    border-collapse: collapse;
}

table tr {
    height: 2.5rem;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 97);
}

table tr td:first-child {
    text-wrap: nowrap;
    font-weight: bold;
    padding-right: 1rem;
}

table tr td:last-child::before {
    content: ": ";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

table tr td:last-child {
    position: relative;
    padding: 0.5rem 0;
    padding-left: 1rem;
}



.productReview .reviewDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productReview .viewProductReviewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    padding-bottom: 0;
}

.productReview .reviewTop {
    padding: 0rem 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:407px) {
    .productReview .reviewTop {
        flex-direction: column;
        gap: 0.5rem;
    }

    .productReview .reviewTop button {
        width: 100%;
    }
}

.productReview .reviewTop button,
.productReview .viewProductReviewMore button,
#addReview {
    padding: 0.5rem 1rem;
    background-color: orangered;
    border-radius: 3px;
    color: white;
    border: none;
    outline: none;
}

.productReview .reviewTop button:hover,
.productReview .viewProductReviewMore button:hover,
#addReview:hover {
    cursor: pointer;
    background-color: rgb(213, 57, 0);
}

.productReview .reviewDetails .reviewBox {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 1rem;
}

.productReview .reviewDetails .reviewImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reviewContent>div {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.reviewContent>div>div {
    display: flex;
    /* gap: 1rem; */
}

.reviewContent>div>div:last-child {
    flex-wrap: wrap;
    word-break: break-all;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reviewContent>p {
    word-break: break-all;
}

.reviewStars>* {
    width: 1.2rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width:430px) {
    .productReview .reviewDetails .reviewBox {
        display: flex;
        flex-direction: column;
    }

    .productReview .reviewDetails .reviewImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productReview .reviewDetails .reviewImage img {
        width: min(100%, 10rem);
        height: 100%;
        object-fit: contain;
    }
}

@media only screen and (max-width:561px) {
    .productDetails {
        padding: 2rem 1rem;
    }

    table {
        min-width: 27rem;
    }

    pre {
        margin-top: 1rem;
    }

    .postFaq {
        display: flex;
        flex-direction: column;
    }

    .productDetails .productUserReview {
        display: flex;
    }

    .productDetails .productUserReview span {
        width: calc(100%/3);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.writeReview {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.417);

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.writeReview form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2rem;
    width: 100%;
    max-width: 30rem;
    max-height: 100dvh;
    overflow: auto;
}

/* Styling for the file input */
#reviewImage {
    display: none;
}

#reviewImage+label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.3s ease;
    word-break: break-all;
}

#reviewImage+label:hover {
    color: rgb(0, 0, 97);
    border-color: rgb(0, 0, 97);
}

/* Styling for the radio buttons */

.rating-container {
    color: rgb(0, 0, 97);
    display: flex;
    flex-direction: column;
}

input[name="ratings"] {
    display: none;
}

.writeReview form>p {
    color: rgb(0, 0, 97);
}

input[name="ratings"]+label {
    font-size: 2rem;
    color: rgb(176, 176, 176);
    cursor: pointer;
    margin-right: 5px;
}

/* input[name="ratings"]:checked+label {
    color: #FFD700;
} */

/* Container for the radio buttons */
.rating-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.writeReview>form>textarea {
    padding: 1rem;
    border-color: #ccc;
    transition: border 0.3s ease;
    resize: vertical;
    overflow: auto;
    min-height: 5rem;
}

.writeReview>form>textarea:focus,
.writeReview>form>textarea:user-valid {
    border-color: rgb(0, 0, 97);
}