.cart {
    padding: 3rem;
    padding-top: 2rem;
}

.cartCube:not(.cartCube:last-child) {
    border-bottom: 1px solid #ccc;
}

.cart>h2 {
    color: rgb(0, 0, 97);
    margin-bottom: 1rem;
}

.cartCollections {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 2rem;
}

@media only screen and (max-width:984px) {
    .cartCollections {
        grid-template-columns: auto;
    }
}

.cart .cubes {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: fit-content;
}

.total {
    color: rgb(0, 0, 97);
    padding: 2rem;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: sticky;
    top: 11rem;
}

.total .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.total .middle {
    color: orangered;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}

.total>p {
    margin: 2rem 0;
}

.total button {
    padding: 0.8rem;
    border-radius: 3px;
    border: none;
    background-color: orangered;
    color: white;
}

.total button:hover {
    cursor: pointer;
    background-color: rgb(212, 57, 0);
}

.confirmErase {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 3px;
    z-index: 50;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.confirmErase .buttons {
    display: flex;
    gap: 1rem;
}

.confirmErase .buttons>a {
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    width: 5rem;
}

.confirmErase .buttons>a:first-child {
    background-color: red;
}

.confirmErase .buttons>a:last-child {
    background-color: green;
}

.confirmEraseBlackCover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.323);
    z-index: 50;
}

.emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
    color: #ccc;
    font-weight: bolder;
    font-size: 1.2rem;
}
@media screen and (max-width:561px) {

    .cart{
        padding: 2rem 0rem;
        padding-top: 1rem;
    }
    .cart>h2{
        padding-left: 1rem;
    }
}
